language: go
sudo: false

go:
  - 1.12.x

env:
  - GO111MODULE=on

notifications:
  email: false

before_script:
  - curl -fSL "https://releases.hashicorp.com/terraform/0.12.3/terraform_0.12.3_linux_amd64.zip" -o terraform.zip
  - sudo unzip terraform.zip -d /opt/terraform
  - sudo ln -s /opt/terraform/terraform /usr/bin/terraform
  - rm -f terraform.zip

script:
  - go get -u -v github.com/go-task/task/v2/cmd/task && task test
